@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins&display=swap");
.largeText {
  font-size: 10vmax;
  font-family: "Mouse Memoirs";
  color: #2c6419;
  line-height: 8vmax;
}
.smallText {
  font-size: 1.8vmax;
  font-family: "Mouse Memoirs";
  color: rgb(52, 52, 52);
  margin-top: 1vmax;
}
.imageHolder {
  height: 38vmax;
  width: 45vmax;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttonStyle {
  border-radius: 2em;
  margin-top: 0.5vmax;
  border: none;
  padding: 0.5vmax 1vmax;
}
.textContainer {
  margin-left: 10vmax;
}
.blob {
  height: 30vmax;
  width: 34vmax;
  border-radius: 50%;
  background-color: #d4fdc5;
  position: absolute;
  top: -42%;
  left: 20%;
  z-index: -1;
}
