#SearchBox:focus {
    /* border-color: #28a745; */
    /* box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); */
} 
.circle{
    position: absolute;
}
.nav{
    font-size: 26px;
}

@media screen and (max-width: 800px) {
    .circle{
        opacity: 0.8;
    }
    .nav{
        width:100%;
        z-index: 9999;
        font-size: 19px;
    }
  }